{% extends 'partials/base.html.twig' %}

{% block content %}

    <div class="admin-block">
        {% if not admin.route %}
        <h1>
            Themes
        </h1>

        {% include 'partials/messages.html.twig' %}

        <form method="post">
            <input type="hidden" name="task" value="set_theme"/>
            <table class="themes">
                {% for theme in admin.themes %}
                {% set blueprints = theme.blueprints() %}
                <tr>
                    <td>
                        <h3><a href="{{ base_url }}/themes/{{ blueprints.name }}">{{ blueprints.get('name') }}</a></h3>
                        {% if blueprints.get('thumbnail') %}
                        <img src="{{ blueprints.get('thumbnail') }}" class="thumbnail" />
                        {% endif %}
                    </td>
                    <td class="details">
                        <ul>
                            <li><span>Author:</span> {{ blueprints.get('author') }}</li>
                            <li><span>URL:</span> {{ blueprints.get('url') }}</li>
                            <li><span>Email:</span> {{ blueprints.get('email') }}</li>
                            <li><a href="#" class="tooltip" data-asTooltip-position="s" title="{{ blueprints.get('description')|e }}">Description</a></li>
                        </ul>
                    </td>
                    <td>
                        {% if config.get('system.pages.theme') == blueprints.name %}
                        <button disabled="disabled">Default</button>
                        {% else %}
                        <button name="theme" value="{{ blueprints.name }}">Default</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </form>
        {% else %}
            {% set theme = admin.themes[admin.route] %}
            {% set blueprints = theme.blueprints() %}

            <h1>
                {{ blueprints.get('name')|e }}
                <small>{{ blueprints.get('version') ? 'v' ~ blueprints.get('version')|e }}</small>
            </h1>

            {% include 'partials/messages.html.twig' %}

            <p>{{ blueprints.get('description') }}</p>

            {% include 'partials/blueprints.html.twig' with { data: theme } %}
        {% endif %}

    </div>
{% endblock %}

