<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
    {% if header.description %}
        <meta name="description" content="{{ header.description }}">
    {% else %}
        <meta name="description" content="{{ site.description }}">
    {% endif %}
    {% if header.robots %}
        <meta name="robots" content="{{ header.robots }}">
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png">
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ theme_url }}/css-compiled/nucleus.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css-compiled/template.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/font-awesome.min.css" type="text/css" />
    <link rel="stylesheet" href="{{ theme_url }}/css/chartist.min.css" type="text/css" />
    <!--[if IE 9]>
        <link rel="stylesheet" href="{{ theme_url }}/css/nucleus-ie9.css" type="text/css" />
        <link rel="stylesheet" href="{{ theme_url }}/css/pure-0.5.0/grids-min.css" type="text/css" />
    <![endif]-->
    {% endblock %}

    {% block javascript %}
    <script type="text/javascript" src="{{ theme_url }}/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ theme_url }}/js/modernizr.custom.71422.js"></script>
    <script type="text/javascript" src="{{ theme_url }}/js/jquery.astooltip.min.js"></script>
    <script type="text/javascript" src="{{ theme_url }}/js/chartist.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function()
        {
            // tooltips
            $(".tooltip").asTooltip({
               namespace: 'tooltip',
               skin: 'skin-dream',
               trigger: 'hover'    // hover click
            });
        });

    </script>
    {% endblock %}
{% endblock %}
</head>
<body>
    {% block page %}

    {% block navigation %}
        {% include 'partials/nav.html.twig' %}
    {% endblock %}

    <section id="admin-main">
        <div class="titlebar secondary-accent">
            {% block titlebar %}{% endblock %}
        </div>
        {% if grav_update and grav_update['available'] > grav_update['current'] %}
        <div class="grav-update">

            <p>
            <i class="fa fa-bullhorn"></i>
            Grav <b>v{{ grav_update['available'] }}</b> is now available! <span class="less">(Current: v.{{ grav_update['current'] }})</span>
            <button class="button button-small secondary">Update Now</button>
            </p>

        </div>
        {% endif %}
        <div class="content-padding">
            <div class="default-box-shadow">
                {% include 'partials/messages.html.twig' %}
                {% block content_top %}{% endblock %}
                <div class="admin-block">
                    {% block content %}{% endblock %}
                </div>
                {% block content_bottom %}{% endblock %}
            </div>
             <footer id="footer">
                <a href="http://getgrav.org">Grav</a> version {{ grav_update['current'] }} was made with <i class="fa fa-heart"></i> by <a href="http:/www.rockettheme.com">RocketTheme</a>.
            </footer>
        </div>

    </section>

    {% endblock page %}
</body>
</html>
