{% set gpm = admin.gpm() %}
{% set updatable = gpm.getUpdatablePlugins() %}
<div class="grav-update plugins">
    {% if updatable |length %}
        <p>
            <i class="fa fa-bullhorn"></i>
            {{ updatable |length }} of your plugins have an <strong>update available</strong>.
            <button class="button button-small secondary">Update All Plugins</button>
        </p>
    {% endif %}
</div>

<h1>
    Installed Plugins
</h1>

<table>
    {% for slug, package in admin.plugins %}
        {% set plugin = package.toArray() %}

        <tr data-gpm-plugin="{{ slug|url_encode }}">
            <td class="gpm-name">
                <i class="fa fa-fw fa-{{ plugin.icon }}"></i>
                <a href="{{ base_url_relative }}/plugins/{{ slug|url_encode }}">{{ plugin.name }}</a>
                {% if plugin.symlink %}
                <span class="hint--bottom"  data-hint="This plugin is symbolically linked. Updates won't be detected.">
                    <i class="fa fa-fw fa-link"></i>
                </span>
                {% endif %}
                <span class="gpm-version">v{{ plugin.version }}</span>
                {% if gpm.isPluginUpdatable(slug) %}
                <a href="{{ base_url_relative }}/plugins/{{ slug|url_encode }}"><span class="badge update">Update available!</span></a>
                {% endif %}
            </td>
            <td class="gpm-actions">
                <a class="{{ plugin.get('enabled') ? 'enabled' : 'disabled' }}" href="{{ base_url_relative }}/plugins/{{ slug }}/task:{{ plugin.get('enabled') ? 'disable' : 'enable' }}">
                    <i class="fa fa-fw fa-toggle-{{ plugin.get('enabled') ? 'on' : 'off' }}"></i>
                </a>
            </td>
        </tr>
    {% endfor %}
</table>