{% set gpm = admin.gpm() %}
{% set installed = gpm.isPluginInstalled(admin.route) %}

<div class="grav-update plugin" data-gpm-plugin="{{ admin.route }}">
{% if installed and gpm.isPluginUpdatable(admin.route) %}
    {% set remote = gpm.getRepositoryPlugin(admin.route) %}
        <p>
            <i class="fa fa-bullhorn"></i>
            <strong>v{{ remote.available }}</strong> of this plugin is now available!
            <button class="button button-small secondary" data-download="{{ remote.zipball_url }}">Update Plugin</button>
        </p>
{% endif %}
</div>

<h1>
    {{ plugin.name|e }}
    {% if admin.isTeamGrav(plugin) %}
        <small><span class="info-reverse"><i class="fa fa-check-circle"></i></span></small>
    {% endif %}
    {% if plugin.symlink %}
    <small class="hint--bottom"  data-hint="This plugin is symbolically linked. Updates won't be detected.">
        <i class="fa fa-fw fa-link"></i>
    </small>
    {% endif %}
    <small>{{ plugin.version ? 'v' ~ plugin.version|e }}</small>
</h1>
<div class="gpm-item-info">
    <i class="gpm-item-icon fa fa-fw fa-{{  plugin.icon }}"></i>
    <table>
         {% if plugin.author %}
            <tr>
                <td>Author:</td>
                <td>
                    {% if plugin.author.url %}
                        <a href="{{ plugin.author.url }}">{{ plugin.author.name }}</a>
                    {% else %}
                        {{ plugin.author.name }}
                    {% endif %}
                    {% if plugin.author.email %}
                         - <a href="mailto:{{ plugin.author.email }}">{{ plugin.author.email }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if plugin.homepage %}
        <tr>
            <td>Homepage:</td>
            <td><a href="{{ plugin.homepage }}">{{ plugin.homepage }}</a></td>
        </tr>
        {% endif %}
        {% if plugin.demo %}
        <tr>
            <td>Demo:</td>
            <td><a href="{{ plugin.demo }}">{{ plugin.demo }}</a></td>
        </tr>
        {% endif %}
        {% if plugin.bugs %}
            <tr>
                <td>Bug Tracker:</td>
                <td><a href="{{ plugin.bugs }}">{{ plugin.bugs }}</a></td>
            </tr>
        {% endif %}
        {% if plugin.keywords %}
            <tr>
                <td>Keywords:</td>
                <td>{{ plugin.keywords|join(', ') }}</td>
            </tr>
        {% endif %}
        {% if plugin.license %}
            <tr>
                <td>License:</td>
                <td>{{ plugin.license }}</td>
            </tr>
        {% endif %}

        {% if plugin.description %}
            <tr>
                <td>Description:</td>
                <td>{{ plugin.description_html }}</td>
            </tr>
        {% endif %}
    </table>
</div>

{% if (installed) %}
    {% set data = admin.data('plugins/' ~ admin.route) %}
    {% include 'partials/blueprints.html.twig' with { data: data, blueprints: data.blueprints } %}

    <div class="button-bar danger">
        <span class="danger-zone"></span>
        <a class="button" href="{{ base_url_relative }}/plugins/{{ plugin.slug }}/task:uninstall"><i class="fa fa-fw fa-warning"></i>Remove Plugin</a>
    </div>
{% else %}
    <div class="button-bar success">
        <a class="button" href="{{ base_url_relative }}/plugins/{{ plugin.slug }}/task:install"><i class="fa fa-fw fa-plus"></i>Install Plugin</a>
    </div>
{% endif %}
