<div class="grav-update plugins">
    <p>
        <i class="fa fa-bullhorn"></i>
        <strong>v{{ theme.version }}</strong> of this theme is now available!
        <button class="button button-small secondary">Update Theme</button>
    </p>
</div>

<h1>
    {{ theme.name|e }}
    <small>{{ theme.version ? 'v' ~ theme.version|e }}</small>
</h1>
<div class="gpm-item-info">
    <i class="gpm-item-icon fa fa-fw fa-{{  theme.icon }}"></i>
    <table>
        {% if theme.version %}
        <tr>
            <td>Version:</td>
            <td>{{ theme.version }}</td>
        </tr>
        {% endif %}
        {% if theme.author %}
            <tr>
                <td>Author:</td>
                <td>
                    {% if theme.author.url %}
                        <a href="{{ theme.author.url }}">{{ theme.author.name }}</a>
                    {% else %}
                        {{ theme.author.name }}
                    {% endif %}
                    {% if theme.author.email %}
                         - <a href="mailto:{{ theme.author.email }}">{{ theme.author.email }}</a>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
        {% if theme.homepage %}
        <tr>
            <td>Homepage:</td>
            <td><a href="{{ theme.homepage }}">{{ theme.homepage }}</a></td>
        </tr>
        {% endif %}
        {% if theme.demo %}
        <tr>
            <td>Demo:</td>
            <td><a href="{{ theme.demo }}">{{ theme.demo }}</a></td>
        </tr>
        {% endif %}
        {% if theme.bugs %}
            <tr>
                <td>Bug Tracker:</td>
                <td><a href="{{ theme.bugs }}">{{ theme.bugs }}</a></td>
            </tr>
        {% endif %}
        {% if theme.keywords %}
            <tr>
                <td>Keywords:</td>
                <td>{{ theme.keywords }}</td>
            </tr>
        {% endif %}
        {% if theme.license %}
            <tr>
                <td>License:</td>
                <td>{{ theme.license }}</td>
            </tr>
        {% endif %}
        {% if theme.description %}
            <tr>
                <td>Description:</td>
                <td>{{ theme.description }}</td>
            </tr>
        {% endif %}
    </table>
</div>

{% include 'partials/blueprints.html.twig' with { data: theme.form, blueprints: theme.form } %}

<div class="button-bar danger">
    <span class="danger-zone"></span>
    <a class="button" href="#"><i class="fa fa-fw fa-warning"></i>Remove Theme</a>
</div>