{% extends "forms/field.html.twig" %}

{% block input %}
    <div class="form-select-wrapper {{ field.size }}">
        <select class="{{ field.classes }}" name="{{ (scope ~ field.name)|fieldName ~ (field.multiple ? '[]' : '') }}"
                {% if field.autofocus in ['on', 'true', 1] %}autofocus="autofocus"{% endif %}
                {% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
                {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
                {% if field.multiple in ['on', 'true', 1] %}multiple="multiple"{% endif %}
                >
            {% for slug, package in admin.themes %}
                {% set theme = package.toArray() %}
                <option
                        {% if config.system.pages.theme == slug %}selected="selected"{% endif %}
                        value="{{ slug }}">
                    {{ theme.name }}
                </option>
            {% endfor %}
        </select>
    </div>
{% endblock %}
