<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
    {% block head %}
        <meta charset="utf-8" />
        {% set page_title = header.title|default('') %}
        {% if page_title is iterable %}
            {% set page_title = page_title|join(', ') %}
        {% endif %}
        {% set site_title = site.title|default('') %}
        {% if site_title is iterable %}
            {% set site_title = site_title|join(', ') %}
        {% endif %}
        <title>{% if page_title %}{{ page_title|e('html') }} | {% endif %}{{ site_title|e('html') }}</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% set page_desc = page.metadata.description|default('') %}
        {% if page_desc is iterable %}
            {% if page_desc.description is defined %}
                {% set page_desc = page_desc.description %}
            {% else %}
                {% set page_desc = '' %}
            {% endif %}
        {% endif %}
        {% set site_desc = site.metadata.description|default('') %}
        {% if site_desc is iterable %}
            {% if site_desc.description is defined %}
                {% set site_desc = site_desc.description %}
            {% endif %}
        {% endif %}
        {% set description = page_desc ?: site_desc %}
        
        {% set page_keywords = page.metadata.keywords|default('') %}
        {% if page_keywords is iterable %}
            {% if page_keywords.keywords is defined %}
                {% set page_keywords = page_keywords.keywords %}
            {% else %}
                {% set page_keywords = '' %}
            {% endif %}
        {% endif %}
        {% set site_keywords = site.metadata.keywords|default('') %}
        {% if site_keywords is iterable %}
            {% if site_keywords.keywords is defined %}
                {% set site_keywords = site_keywords.keywords %}
            {% endif %}
        {% endif %}
        {% set keywords = page_keywords ?: site_keywords %}
        
        <meta name="description" content="{{ description|e('html') }}">
        <meta name="keywords" content="{{ keywords|e('html') }}">
        {% set author_name = site.author.name|default('') %}
        {% if author_name is iterable %}
            {% set author_name = author_name|join(', ') %}
        {% endif %}
        <meta name="author" content="{{ author_name|e('html') }}">

        {% if page.metadata.robots %}
            {% set robots = page.metadata.robots %}
            {% if robots is iterable %}
                {% if robots.robots is defined %}
                    {% set robots = robots.robots %}
                {% else %}
                    {% set robots = '' %}
                {% endif %}
            {% endif %}
            {% if robots %}
                <meta name="robots" content="{{ robots|e('html') }}">
            {% endif %}
        {% endif %}

        <link rel="canonical" href="{{ page.url(true, true) }}" />

        {# Favicons - commented out until favicon files are created #}
        {# <link rel="icon" type="image/svg+xml" href="{{ url('theme://images/favicons/favicon-source.svg') }}">
        <link rel="alternate icon" type="image/x-icon" href="{{ url('theme://images/favicons/favicon.ico') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url('theme://images/favicons/apple-touch-icon.png') }}"> #}
        <meta name="theme-color" content="#1a4d8f">

        {# OpenGraph / Facebook #}
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ page.url(true, true) }}">
        <meta property="og:title" content="{% if page_title %}{{ page_title|e('html') }}{% else %}{{ site_title|e('html') }}{% endif %}">
        <meta property="og:description" content="{{ description|e('html') }}">
        <meta property="og:site_name" content="{{ site_title|e('html') }}">
        {% if page.media.images|first %}
            <meta property="og:image" content="{{ page.media.images|first.url(true) }}">
        {% endif %}

        {# Twitter Card #}
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:url" content="{{ page.url(true, true) }}">
        <meta name="twitter:title" content="{% if page_title %}{{ page_title|e('html') }}{% else %}{{ site_title|e('html') }}{% endif %}">
        <meta name="twitter:description" content="{{ description|e('html') }}">
        {% if page.media.images|first %}
            <meta name="twitter:image" content="{{ page.media.images|first.url(true) }}">
        {% endif %}

        {% block stylesheets %}
            {% do assets.addCss('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css', 101) %}
            {% do assets.addCss('theme://css/main.css', 100) %}
            {% do assets.addCss('theme://css/custom.css', 99) %}
            {% do assets.addCss('theme://css/ocedc.css', 98) %}
            {% do assets.addCss('theme://css/enhancements.css', 97) %}
            {% do assets.addCss('theme://css/douglas-style.css', 96) %}
            {% do assets.addCss('theme://css/content.css', 95) %}
            {% do assets.addCss('theme://css/modules.css', 94) %}
        {% endblock %}
        
        {{ assets.css()|raw }}
        
        {% block javascripts %}
            {% do assets.addJs('theme://js/main.js', {'group': 'bottom'}) %}
            {% do assets.addJs('theme://js/faq.js', {'group': 'bottom'}) %}
            {% do assets.addJs('theme://js/gallery.js', {'group': 'bottom'}) %}
            {% do assets.addJs('theme://js/testimonials.js', {'group': 'bottom'}) %}
        {% endblock %}
        
        {{ assets.js('head')|raw }}
    {% endblock head %}
</head>
<body id="top" class="{{ page.header.body_classes ?: page.template }} {{ page.header.class }}">
    {% block header %}
        {% include 'partials/header.html.twig' %}
    {% endblock %}
    
    {% block body %}
        <main id="main-content">
            {% block content %}{% endblock %}
        </main>
    {% endblock %}
    
    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

    {{ assets.js('bottom')|raw }}

    {# Structured Data (Schema.org JSON-LD) for SEO #}
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "GovernmentOrganization",
        "name": "Ogle County Economic Development Corporation",
        "alternateName": "OCEDC",
        "url": "{{ site.url }}",
        "logo": "{{ url('theme://images/logos/logo-ocedc.svg', true) }}",
        "description": "Ogle County Economic Development Corporation promotes economic growth and business development in Ogle County, Illinois.",
        "address": {
            "@type": "PostalAddress",
            "streetAddress": "123 Main Street",
            "addressLocality": "Oregon",
            "addressRegion": "IL",
            "postalCode": "61061",
            "addressCountry": "US"
        },
        "telephone": "+1-815-555-1234",
        "email": "info@oglecoedg.org",
        "areaServed": {
            "@type": "City",
            "name": "Ogle County",
            "containedInPlace": {
                "@type": "State",
                "name": "Illinois"
            }
        },
        "sameAs": [
            "https://www.facebook.com/ocedc",
            "https://www.linkedin.com/company/ocedc",
            "https://twitter.com/ocedc"
        ]
    }
    </script>
</body>
</html>

