{% extends 'partials/base.html.twig' %}

{% set logs = admin.logs %}

{% block content %}

    <div class="admin-block">
        <h1>
            Browse Error Logs
        </h1>

        <table>
        {% for entry in logs %}
            <tr>
                <td><a href="{{ base_url_relative }}/logs/{{ entry.file }}">{{ entry.date }}</a></td>
                <td>{{ entry.message }}</td>
                <td><a href="{{ entry.url }}">{{ entry.url }}</a></td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock %}

