{% extends 'partials/base.html.twig' %}

{% if admin.route %}
    {% set context = admin.page(true) %}
{% endif %}

{% if uri.param('new') %}
    {% set mode = 'new' %}
{%  elseif context %}
    {% set mode = 'edit' %}
    {% if context.exists %}
        {% set exists = true %}
    {% endif %}
{% else %}
    {% set mode = 'list' %}
{% endif %}

{% block stylesheets %}
    {{ parent() }}
    {% if mode == 'edit' %}

    <link rel="stylesheet" href="{{ theme_url }}/css/codemirror/codemirror.css" type="text/css" />
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ theme_url }}/js/pages-all.js"></script>
    {% if mode == 'edit' %}
    <script type="text/javascript" src="{{ theme_url }}/js/uikit.min.js"></script>
    <script type="text/javascript" src="{{ theme_url }}/js/codemirror-compressed.js"></script>
    <script type="text/javascript" src="{{ theme_url }}/js/marked.min.js"></script>
    <script type="text/javascript" src="{{ theme_url }}/js/htmleditor.js"></script>
    {% endif %}
{% endblock %}

{% macro loop(page, base_url, depth) %}
    {% for p in page.children %}

        {% set description = (not p.page ? 'Folder &bull; ' : 'Page &bull; ') ~
                             (p.modular ? 'Modular &bull; ' : '') ~
                             (p.routable ? 'Routable &bull; ' : 'Not Routable &bull; ') ~
                             (p.visible ? 'Visible &bull; ' : 'Not Visible &bull; ') %}

        <li class="page-item">
            <div class="row">
                <span data-hint="{{ description|trim(' &bull; ') }}" class="hint--bottom">
                <i class="page-icon fa fa-fw fa-circle-o {{ p.children.count > 0 ? 'children-open' : ''}} {{ p.modular ? 'modular' : (not p.routable ? 'not-routable' : (not p.visible ? 'not-visible' : (not p.page ? 'folder' :  ''))) }}"></i>
                </span>
                <a href="{{ base_url }}/pages/{{ p.route|trim('/') }}" class="page-edit">{{ p.menu }}</a>
                <span class="page-home">{{ p.home ? '<i class="fa fa-home"></i>' }}</span>
                <span class="page-tools">
                    <a href="{{ base_url }}/pages/{{ p.route|trim('/') }}/task:delete" class="page-delete"><i class="fa fa-close"></i></a>
                </span>
                <p class="page-route">{{ p.route }}</p>
            </div>
            {% if p.children.count > 0 and not p.modular() %}

            <ul class="depth-{{ depth + 1 }}">
                {{ _self.loop(p, base_url, depth + 1) }}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}


{% block titlebar %}
    <div class="button-bar">
        {% if mode == 'list' %}
            <a class="button" href="#modal" data-remodal-target="modal"><i class="fa fa-plus"></i> Add Page</a>
        {% elseif mode == 'edit' %}
            <button class="button" name="task" value="save" form="blueprints"><i class="fa fa-check"></i> Save</button>
            {% if exists %}
                <button class="button" name="task" value="copy" form="blueprints"><i class="fa fa-copy"></i> Copy</button>
            {% endif %}
        {% endif %}
    </div>
    {% if mode == 'new' %}
        <h1><i class="fa fa-fw fa-file-text-o"></i> Add Page</h1>
    {% elseif mode == 'edit' %}
        <h1><i class="fa fa-fw fa-file-text-o"></i>
            {{ context.exists ? "Edit '#{context.menu}'" : "Create '#{context.menu}'" }}
        </h1>
    {% else %}
        <h1><i class="fa fa-fw fa-file-text-o"></i> Manage Pages</h1>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="admin-block clear">
    {% include 'partials/messages.html.twig' %}
    {% if mode == 'new' %}
        {% include 'partials/blueprints-new.html.twig' with { blueprints: admin.blueprints('pages/page'), data: context } %}
    {% elseif mode == 'edit' %}
        <div class="admin-form-wrapper">
            {% if context.blueprints.fields %}
            <form id="admin-mode-toggle">
                <div class="switch-toggle switch-grav">
                    <input type="radio" value="normal" data-leave-url="{{ uri.route(true) }}" id="normal" name="mode-switch" class="highlight" {% if not uri.param('expert') %} checked="checked"{% endif %}>
                    <label for="normal">Normal</label>
                    <input type="radio" value="expert" data-leave-url="{{ uri.route(true) }}/expert:1" id="expert" name="mode-switch" class="highlight" {% if uri.param('expert') %} checked="checked"{% endif %}>
                    <label for="expert">Expert</label>
                    <a></a>
                </div>
            </form>
            {% endif %}

            {% if not uri.param('expert') and context.blueprints.fields %}
                {% include 'partials/blueprints.html.twig' with { blueprints: context.blueprints, data: context } %}
            {% else %}
                {% include 'partials/blueprints-raw.html.twig' with { blueprints: admin.blueprints('pages/raw'), data: context } %}
            {% endif %}
        </div>
    {% else %}
        <form id="page-filtering">
            <div class="page-filters">
                <input type="text" placeholder="Add Filters" class="page-filter" value="Routable,Visible,Modular" name="page-filter" />
                <script>
                $(function() {

                });
                </script>
            </div>
            <div class="page-search">
                <input type="text" placeholder="Search Pages" name="page-search" />
            </div>
        </form>
        <ul class="pages-list depth-0">
            {{ _self.loop(pages, base_url_relative, 0) }}
        </ul>
    {% endif %}
    </div>

    <div class="remodal" data-remodal-id="modal" data-remodal-options="hashTracking: false">
        {% include 'partials/blueprints-new.html.twig' with { blueprints: admin.blueprints('pages/new'), data: context } %}
    </div>

    <div class="remodal" data-remodal-id="changes">
        <form>
            <h1>Changes Detected</h1>
            <p class="bigger">
              You have unsaved changes.  Are you sure you want to leave without saving?
            </p>
            <br>
            <div class="button-bar">
            <a class="button secondary" data-leave-action="cancel" href="#"><i class="fa fa-fw fa-close"></i> Cancel</a>
            <a class="button" data-leave-action="continue" href="#"><i class="fa fa-fw fa-check"></i>Continue</a>
            </div>
        </form>
    </div>
{% endblock %}

