{% extends 'partials/base.html.twig' %}

{% macro loop(page, base_url, depth) %}
    {% for p in page.children %}

        {% set description = (not p.page ? 'Folder &bull; ' : 'Page &bull; ') ~
                             (p.modular ? 'Modular &bull; ' : '') ~
                             (p.routable ? 'Routable &bull; ' : 'Not Routable &bull; ') ~
                             (p.visible ? 'Visible &bull; ' : 'Not Visible &bull; ') %}


        <li class="page-item">
            <div class="row">
                <span data-hint="{{ description|trim(' &bull; ') }}" class="hint--bottom">
                <i class="page-icon fa fa-fw fa-circle-o {{ p.children.count > 0 ? 'children-open' : ''}} {{ p.modular ? 'modular' : (not p.routable ? 'not-routable' : (not p.visible ? 'not-visible' : (not p.page ? 'folder' :  ''))) }}"></i>
                </span>
                <a href="{{ base_url }}/pages/{{ p.route|trim('/') }}" class="page-edit">{{ p.menu }}</a>
                <span class="page-home">{{ p.home ? '<i class="fa fa-home"></i>' }}</span>
                <span class="page-tools">
                    <a href="{{ base_url }}/pages/{{ p.route|trim('/') }}/task:delete" class="page-delete"><i class="fa fa-close"></i></a>
                </span>
                <p class="page-route">{{ p.route }}</p>
            </div>
            {% if p.children.count > 0 and not p.modular() %}

            <ul class="depth-{{ depth + 1 }}">
                {{ _self.loop(p, base_url, depth + 1) }}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}


{% if admin.route %}
{% set context = admin.page(true) %}
{% endif %}


{% block titlebar %}
    <div class="button-bar">
        {% if not uri.param('new') %}
            {% if context %}
                <button class="button" name="task" value="save" form="blueprints"><i class="fa fa-check"></i> Save</button>
                {% if context.exists %}
                    <button class="button" name="task" value="copy" form="blueprints"><i class="fa fa-copy"></i> Copy</button>
                {% endif %}
            {% else %}
                <a class="button" href="#modal" data-remodal-target="modal"><i class="fa fa-plus"></i> Add Page</a>
                {# <a class="button" href="{{ uri.route(true) }}/new:1"><i class="fa fa-plus"></i> Add Page</a> #}
            {% endif %}
        {% endif %}
    </div>
    {% if uri.param('new') %}
        <h1><i class="fa fa-fw fa-file-text-o"></i> Add Page</h1>
    {% elseif context %}
        <h1><i class="fa fa-fw fa-file-text-o"></i>
            {{ context.exists ? "Edit '#{context.menu}'" : "Create '#{context.menu}'" }}
        </h1>
    {% else %}
        <h1><i class="fa fa-fw fa-file-text-o"></i> Manage Pages</h1>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="admin-block clear">
    {% include 'partials/messages.html.twig' %}
    {% if uri.param('new') %}
        {% include 'partials/blueprints-new.html.twig' with { blueprints: admin.blueprints('page'), data: context } %}
    {% elseif context %}


        <form id="admin-mode-toggle">
            <div class="switch-toggle switch-grav">
                <input type="radio" value="normal" id="normal" name="mode-switch" class="highlight" {% if not uri.param('expert') %} checked="checked"{% endif %}>
                <label for="normal">Normal</label>
                <input type="radio" value="expert" id="expert" name="mode-switch" class="highlight" {% if uri.param('expert') %} checked="checked"{% endif %}>
                <label for="expert">Expert</label>
                <a></a>
            </div>
            <script>
                $("#admin-mode-toggle input[type=radio][checked]").each(
                    function() {

                    }
                );
            </script>
{#                 {% if not uri.param('expert') %}
                    <span class="button" >Normal</span>
                    <a href="{{ uri.route(true) }}/expert:1">Expert</a>
                {% else %}
                    <a href="{{ uri.route(true) }}">Normal</a>
                    <span class="button">Expert</span>
                {% endif %} #}
        </form>


        {% if not uri.param('expert') %}
            {% include 'partials/blueprints.html.twig' with { blueprints: context.blueprints, data: context } %}
        {% else %}
            {% include 'partials/blueprints-raw.html.twig' with { blueprints: admin.blueprints('page'), data: context } %}
        {% endif %}
    {% else %}
        <form id="page-filtering">
            <div class="page-filters">
                <input type="text" placeholder="Add Filters" class="page-filter" value="Routable,Visible,Modular" name="page-filter" />
                <script>
                $(function() {
                    // selectize
                    $('input.page-filter').selectize({
                        delimiter: ',',
                        create: false
                    });

                    // auto generate folder based on title
                    // on user input on folder, autogeneration stops
                    // if user empties the folder, autogeneration restarts
                    $('input[name="folder"]').on('input', function(){
                        $(this).data('user-custom-folder', true);
                        if (!$(this).val()) $(this).data('user-custom-folder', false);
                    })
                    $('input[name="title"]').on('input', function(e){
                        if (!$('input[name="folder"]').data('user-custom-folder')) {
                            folder = $(this).val().toLowerCase().replace(/\s/g, '-');
                            $('input[name="folder"]').val(folder);
                        }
                    });
                });
                </script>
            </div>
            <div class="page-search">
                <input type="text" placeholder="Search Pages" name="page-search" />
            </div>
        </form>
        <ul class="pages-list depth-0">
            {{ _self.loop(pages, base_url_relative, 0) }}
        </ul>
    {% endif %}
    </div>

    <div class="remodal" data-remodal-id="modal" data-remodal-options="hashTracking: false">
        {% include 'partials/blueprints-new.html.twig' with { blueprints: admin.blueprints('page'), data: context } %}
    </div>
{% endblock %}

