{% extends 'partials/base.html.twig' %}

{% macro loop(page, base_url, depth) %}
    {% for p in page.children %}
        <li class="page-item">
            <div class="row">
                <span class="page-icon {{ p.visible ? 'visible' : (not p.page ? 'folder' : (p.routable ? 'page' : 'not-routable')) }}"></span>
                {{ p.menu }} {{ p.modular() ? '(Modular)' }}
                <span class="page-home">{{ p.home ? '<i class="fa fa-home"></i>' }}</span>
                <span class="page-tools">
                    <a href="{{ base_url }}/pages/{{ p.route|trim('/') }}" class="page-edit"><i class="fa fa-pencil"></i></a>
                    <a href="{{ base_url }}/pages/{{ p.route|trim('/') }}/task:delete" class="page-delete"><i class="fa fa-close"></i></a>
                </span>
            </div>
            {% if p.children.count > 0 and not p.modular() %}

            <ul class="depth-{{ depth + 1 }}">
                {{ _self.loop(p, base_url, depth + 1) }}
            </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}


{% if admin.route %}
{% set context = admin.page(true) %}
{% endif %}


{% block javascript %}
{% endblock %}

{% block titlebar %}
    <div class="button-bar">
        {% if not uri.param('new') %}
            <button class="button" href="{{ uri.route(true) }}/new:1"><i class="fa fa-plus"></i> Add Page</button>
            {% if context %}
                {% if not uri.param('expert') %}
                    <button class="button" href="{{ uri.route(true) }}/expert:1">Normal mode</button>
                {% else %}
                    <button class="button" href="{{ uri.route(true) }}">Expert mode</button>
                {% endif %}
            {% endif %}
        {% endif %}
    </div>
    {% if uri.param('new') %}
        <h1><i class="fa fa-fw fa-file-text-o"></i> Add Page</h1>
    {% elseif context %}
        <h1><i class="fa fa-fw fa-file-text-o"></i>
            {{ context.exists ? "Edit '#{context.menu}'" : "Create '#{context.menu}'" }}
        </h1>
    {% else %}
        <h1><i class="fa fa-fw fa-file-text-o"></i> Manage Pages</h1>
    {% endif %}
{% endblock %}


{% block content %}
    {% include 'partials/messages.html.twig' %}

    <div class="admin-block clear">
    {% if uri.param('new') %}
        {% include 'partials/messages.html.twig' %}
        {% include 'partials/blueprints-new.html.twig' with { blueprints: admin.blueprints('page'), data: context } %}
    {% elseif context %}
        {% if not uri.param('expert') %}
            {% include 'partials/blueprints.html.twig' with { blueprints: context.blueprints, data: context } %}
        {% else %}
            {% include 'partials/blueprints-raw.html.twig' with { blueprints: admin.blueprints('page'), data: context } %}
        {% endif %}
    {% else %}

        <ul class="pages-list depth-0">
            {{ _self.loop(pages, base_url_relative, 0) }}
        </ul>

    {% endif %}
    </div>
{% endblock %}

