{% extends 'partials/base.html.twig' %}


{% block content %}

    <div class="admin-block">
        {% if not admin.route %}
        <h1>
            Plugins
        </h1>

        {% include 'partials/messages.html.twig' %}

        <table>
            {% for slug, package in admin.plugins %}
            {% set plugin = package.toArray() %}
            {% set data   = package.getData() %}

            <tr>
                <td>
                    <a href="{{ base_url_relative }}/plugins/{{ slug|url_encode }}">{{ plugin.name }}</a>
                </td>
                <td>
                    <form action="{{ base_url_relative }}/plugins/{{ slug }}" method="post">
                        <input type="hidden" name="enabled" value="{{ plugin.get('enabled') ? 0 : 1 }}" />
                        <input type="hidden" name="_redirect" value="plugins" />
                        <button class="button" name="task" value="enable"{{ slug == 'admin' ? ' disabled="disabled"' }}>
                            {{ plugin.get('enabled') ? 'Enabled' : 'Disabled' }}
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        {% set package = admin.plugins[admin.route] %}
        {% set plugin     = package.toArray() %}


        <h1>
            {{ plugin.name|e }}
            <small>{{ plugin.version ? 'v' ~ plugin.version|e }}</small>
{{ dump(plugin) }}
            <small>{{ plugin.icon }}</small>
            <small>{{ plugin.homepage }}</small>
            <small>{{ plugin.author.name }}</small>
            <small>{{ plugin.author.email }}</small>
        </h1>

        {% include 'partials/messages.html.twig' %}
        <p>{{ plugin.description }}</p>

        {% include 'partials/blueprints.html.twig' with { data: plugin.form, blueprints: plugin.form } %}
        {% endif %}
    </div>
{% endblock %}

