{% extends 'partials/base.html.twig' %}

{% block titlebar %}
    <div class="button-bar">
        <button class="button" type="submit" name="task" value="add"><i class="fa fa-refresh"></i> Update All</button>
        <button class="button" type="submit" name="task" value="add"><i class="fa fa-plus"></i> Add</button>
    </div>
    <h1><i class="fa fa-fw fa-plug"></i> Plugins</h1>
{% endblock %}

{% block content %}

    <div class="admin-block gpm gpm-plugins">
        {% if not admin.route %}
        <h1>
            Installed Plugins
        </h1>

        {% include 'partials/messages.html.twig' %}

        <table>
            {% for slug, package in admin.plugins %}
            {% set plugin = package.toArray() %}
            {% set data   = package.getData() %}

            <tr>
                <td class="gpm-name">
                    <i class="fa fa-fw fa-{{ plugin.icon }}"></i>
                    <a href="{{ base_url_relative }}/plugins/{{ slug|url_encode }}">{{ plugin.name }}</a> <span class="gpm-version">v{{ plugin.version }}</span>
                </td>
                <td class="gpm-actions">
                    <a class="{{ plugin.get('enabled') ? 'enabled' : 'disabled' }}" href="{{ base_url_relative }}/plugins/{{ slug }}/task:{{ plugin.get('enabled') ? 'disable' : 'enable' }}">

                        <i class="fa fa-fw fa-toggle-{{ plugin.get('enabled') ? 'on' : 'off' }}"></i>
                    </a>

                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
        {% set package = admin.plugins[admin.route] %}
        {% set plugin     = package.toArray() %}


        <h1>
            {{ plugin.name|e }}
            <small>{{ plugin.version ? 'v' ~ plugin.version|e }}</small>
{{ dump(plugin) }}
            <small>{{ plugin.icon }}</small>
            <small>{{ plugin.homepage }}</small>
            <small>{{ plugin.author.name }}</small>
            <small>{{ plugin.author.email }}</small>
        </h1>

        {% include 'partials/messages.html.twig' %}
        <p>{{ plugin.description }}</p>

        {% include 'partials/blueprints.html.twig' with { data: plugin.form, blueprints: plugin.form } %}
        {% endif %}
    </div>
{% endblock %}

