{% extends 'partials/base.html.twig' %}

{% if admin.route %}
    {% set installing = admin.route starts with 'install' %}
    {% set installed = true %}

    {# Try installed packages first, then remote #}
    {% set package = admin.themes(true)[admin.route] %}
    {% if (not package) %}
        {% set package = admin.themes(false)[admin.route] %}
        {% set installed = false %}
    {% endif %}

    {% set theme = package.toArray() %}
{% endif %}

{% block titlebar %}
    {% if not admin.route or installing %}
        <div class="button-bar">
        {% if (installing) %}
            <a class="button" href="{{ base_url_relative }}/themes"><i class="fa fa-reply"></i> Back</a>
        {% else %}
            <a class="button" href="{{ base_url }}/"><i class="fa fa-reply"></i> Back</a>
            <a class="button" href="{{ base_url_relative }}/themes/install"><i class="fa fa-plus"></i> Add</a>
            <button data-gpm-checkupdates="" class="button"><i class="fa fa-refresh"></i> Check for Updates</button>
        {% endif %}
        </div>
        <h1><i class="fa fa-fw fa-plug"></i> Themes</h1>
    {% else %}
        {% if (installed) %}
        <div class="button-bar">
            <a class="button" href="{{ base_url_relative }}/themes"><i class="fa fa-arrow-left"></i> Back to Themes</a>
            <button class="button" type="submit" name="task" value="save" form="blueprints"><i class="fa fa-check"></i> Save</button>
        </div>
        {% else %}
        <div class="button-bar">
            <a class="button" href="{{ base_url_relative }}/themes/install"><i class="fa fa-arrow-left"></i> Back to Themes</a>
        </div>
        {% endif %}
        <h1><i class="fa fa-fw fa-plug"></i> Theme: {{ theme.name|e }}</h1>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="gpm gpm-themes">

        {% include 'partials/messages.html.twig' %}

        {% if not admin.route or installing %}
            {%  include 'partials/themes-list.html.twig' %}
        {% else %}
            {% include 'partials/themes-details.html.twig' %}
        {% endif %}
    </div>
{% endblock %}



