<nav id="menu">
    <ul class="grav-menu">
        <li class="{{ (location == 'dashboard') ? 'Selected' : '' }}">
            <a href="{{ base_url_relative }}"><i class="fa fa-fw fa-tachometer"></i> Dashboard</a>
        </li>
        <li class="{{ (location == 'configuration') ? 'Selected' : '' }}">
            <a href="{{ base_url_relative }}/configuration"><i class="fa fa-fw fa-cogs"></i> Configuration</a>
        </li>
        <li class="{{ (location == 'settings') ? 'Selected' : '' }}">
            <a href="{{ base_url_relative }}/settings"><i class="fa fa-fw fa-wrench"></i> Site Settings</a>
        </li>
        <li class="{{ (location == 'pages') ? 'Selected' : '' }} {{ pages.children.count > 0 ? 'hasChildren' : '' }}">
            <a href="{{ base_url_relative }}/pages"><i class="fa fa-fw fa-archive"></i> Pages</a>
            {% include 'partials/page-children.html.twig' with {'pages': pages} %}
        </li>
        <li class="{{ (location == 'themes') ? 'Selected' : '' }}">
            <a href="{{ base_url_relative }}/themes"><i class="fa fa-fw fa-picture-o"></i> Themes</a>
        </li>
        <li class="{{ (location == 'plugins') ? 'Selected' : '' }} {{ plugins.count > 0 ? 'hasChildren' : '' }}">
            <a href="{{ base_url_relative }}/plugins"><i class="fa fa-fw fa-bolt"></i> Plugins</a>
        </li>
        <li class="{{ (location == 'logs') ? 'Selected' : '' }}">
            <a href="{{ base_url_relative }}/logs"><i class="fa fa-fw fa-bolt"></i> Error Log</a>
        </li>
    </ul>
</nav>
