{% set value = (value is null ? field.default : value) %}

<div class="form-field">
    <label class="inline">
        <span>
            {% if field.help %}
            <span class="tooltip" data-asTooltip-position="w" title="{{ field.help|e }}">{{ field.label }}</span>
            {% else %}
            {{ field.label }}
            {% endif %}
            {{ field.validate.required in ['on', 'true', 1] ? '<span class="required">*</span>' }}
        </span>


        <input class="input"
               type="date"
               name="{{ (scope ~ field.name)|fieldName }}"
               value="{{ value }}"
               {% if field.autofocus in ['on', 'true', 1] %}autofocus="autofocus"{% endif %}
               {% if field.novalidate in ['on', 'true', 1] %}novalidate="novalidate"{% endif %}
               {% if field.autocomplete in ['on', 'off'] %}autocomplete="{{ field.autocomplete }}"{% endif %}
               {% if field.validate.required in ['on', 'true', 1] %}required="required"{% endif %}
               {% if field.validate.min %}min="{{ field.validate.min }}"{% endif %}
               {% if field.validate.max %}max="{{ field.validate.max }}"{% endif %}
        />
    </label>
</div>
